h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: 'roboto', sans-serif;
    color: #212121;
    margin: 0;
}

.contact:hover {
    color: #535151;
}

.logo {
    font-family: 'raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    color: #000;
}

.menu {
    font-size: 14px;
    line-height: 1.17;
}

.agency,
.portfolio {
    color: #2196F3;
}

.icon-phone,
.icon-envelope {
    margin-right: 10px;
}

.icon-phone:hover,
.icon-envelope:focus,
    {
    color: #2196F3;
    fill: #2196F3;
}

.right-menu a:hover {
    color: #2196F3;
}

.main-sign h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: #FFFFFF;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
}

section>h2,
.clients h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
}

.team p {
    font-size: 16px;
    line-height: 1.1875;
    color: #757575;
    padding-bottom: 30px;
}

.lorem p {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    width: 270px;
}

a.interactive.contact {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.interactive.contact:hover {
    color:#2196F3;

}

li.interactive.contact {
    font-size: 14px;
    line-height: 1.17;
    color: #757575
}

address {
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    font-style: normal;
}

span {
    color: #2196F3;
}

.main-btn {
    cursor: pointer;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    font-weight: bold;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a {
    text-decoration: none;
    display: inline-block;
}

footer,
.main-sign {
    background-color: #2F303A;
}

.lorem-section,
.what-we-do {
    background-color: #FFFFFF;
}

.ourteam {
    background-color: #F5F4FA;
    align-items: center;
    padding-bottom: 94px;
    width: 1600px;
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.left-menu {
    display: flex;
}

.menu.list a {
    color: #000;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.interactive.agency.present {
    color: #2196F3;
}

.interactive.agency.present::after {
    content:"";
    display: block;
    width: 53px;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    top:45px;
    border-radius: 2px;
    left:2px;
}

.menu.list a:hover {
    color: #2196F3;
}

.menu.list {
    display: flex;
    align-items: center;
}

.right-menu {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 94px
}

.menu.list li:not(:last-child) {
    margin-right: 46px
}

.interactive.contact:not(:last-child) {
    margin-right: 50px;
}

.main-sign {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-sign.section {
    padding-top: 0;
    padding-bottom: 0;
}

.lorem {
    display: flex;
    margin-left: 215px;
}

.lorem li:not(:last-child) {
    margin-right: 30px;
}

div h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
}

.list-what-we-do {
    display: flex;
    margin-left: 215px;
}
.what-we-do.section.container {
    position: relative;
}

.what-we-do-info {
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 94px;
    width:370px;
}

.what-we-do-info p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.what-we-do.section.container h2 {
    text-align: center;
    margin-bottom: 50px;
}

.list-what-we-do li:not(:last-child) {
    margin-right: 30px;
}

.ourteam h2 {
    /* margin-left: 695px; */
    text-align: center;
    margin-bottom: 50px;
}

.ourteam p {
    padding-bottom: 30px;
    text-align: center;
}

.team {
    display: flex;
    margin-left: 215px;
}

.team.list>li:not(:last-child) {
    margin-right: 30px;
}

.team h3 {
    margin-top: 30px;
    text-align: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.team div {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team.list .social-icon {
    fill: #AFB1B8;
}

#icon-facebook {width: 100px;}

.footer {
    margin-left: 215px;
    ;
}

.interactive.logo {
    margin-bottom: 20px;
}

footer {
    padding-bottom: 60px;
}

.btn-list {
    display: flex;
    margin-left: 295px;
    margin-top: 100px;
}

.btn-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    border-style: none;
    transition-property: border-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: #2196F3;
    color: #ffffff;
}
.overlay {
    width:100%;
    height:100%;
    background-color: rgba(33, 150, 243, 0.9);;
    position: absolute;
    top:0;
    left:0;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-item:hover .overlay {
    transform: translatey(0);
}
.img-container {
    position: relative;
    overflow: hidden;
}

.overlay>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: #fff;
    width: 301px;
}
.portfolio-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -138px;
    padding: 0;
}

.portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-item h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
}

.portfolio-item p {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575);
    padding-left: 24px;
    padding-bottom: 20px;
}

.portfolio-container {
    margin-top: 200px;
}

.icon-container {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.employees-social-list {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
}

.clients-container {
    width: 170px;
    height: 92px;
    border-style: solid;
    border-width: 1px;
    border-color: #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-logo {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-container:hover,
.clients-container:focus {
    border-color: #2196F3;
    cursor: pointer;
}

.clients-container:hover .clients-logo,
.clients-container:focus .clients-logo {
    fill: #2196F3;
}

.clients h2 {
    text-align: center;
    padding-bottom: 50px;
}

.footer .third-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.social-link {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #2196F3;
}

.footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #2196F3;
}

.footer .social-icon {
    fill: #ffffff;
}

.interactive.logo a {
    color: #fff;
}

.footer-social-list {
    display: flex;
}

.footer-social {
    margin-left: 70px;
    padding-top: 12px;
}

.footer .third-header {
    padding-bottom: 20px;
}

.footer.container {
    display: flex;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden .modal{
     transform: translate(-200%,-200%);
}


.modal {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    height: 581px;
    transition: transform 1s ease-out;
}

.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-modal-btn{
    position:absolute;
    left:9px;
    top:9px;
}